Source: ${PACKAGE}
Section: utils
Priority: extra
Maintainer: John Doe <john@doe.org>
Standards-Version: 4.6.2

Package: ${PACKAGE}
Section: utils
Priority: extra
Architecture: amd64
Depends: ${DEBIAN_DEPENDENCIES}
Description: ${DESCRIPTION}
